@import './mixins';
@import './variable';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    @include flexStart(center,center,row); //@mixin e @include
}

.form-flex {
    @include flexStart(center,center,column);

    label { // newsting
        font-size: 2rem;
    }

    #btnButton {
        margin-top: 20px;
        padding: 20px;
        background-color: aqua;
        cursor: ponter;
        &:hover {
            transform: scale(1.2);
        }
    }
}
